
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="header">
  <div class="menu">
    <span class="brand">eTrade</span>
    <span class="nav-item">Profile Info</span>
    <span class="nav-item">Stocks</span>
    <span class="nav-item">Crypto</span>
  </div>

  <div class="login">
    <span class="login-link">Login</span>
  </div>
</header>
</body>
</html>